@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/*

DEFAULT STLYES

*/

.purple {
    color: #6415ff;
}

h1 {
    color: #243E63;
    font-weight: 900;
}

.row {
    width: 100vw;
    max-width: 1300px;
    margin: 0 auto;
}

.btn {
    background-color: #6416ff;
    border-radius: 24px;
    overflow: hidden;
    color: white;
    padding: 12px 32px;
    font-size: 14px;
    border: none;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/*

NAV

*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__links {
    list-style-type: none;
}

.nav__link {
    margin: 0 24px;
    font-weight: 500;
    color: #243E63;
    font-weight: 500;
}

.nav__contact {
    margin-right: 48px;
}

.nav__login {
    margin-right: 16px;
}


/*

LANDING PAGE

*/

.landing__container {
    padding: 96px 0;
    display: flex;
}

.landing__container--h1 {
    color: #1A202C;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: left;
    margin-top: 40px;
}

.landing__container-para {
    color: #243E63;
    font-size: 18px;
    margin: 32px 0;
    text-align: left;
    line-height: 1.5;
}

.landing__container--email {
    padding: 20px 0;
    font-size: 16px;
}

.landing__container--text {
    width: 40%;
}

.landing__container--illustration {
    width: 60%;
    max-width: 60%;
}

.landing__container--illustration-img {
    width: 100%;
}

.landing__container--input {
    position: relative;
}

.landing__container--btn {
    position: absolute;
    top: 12px;
    right: 70px;
}

.landing__container--email {
    padding-right: 210px;
    padding-left: 20px;
    border-radius: 40px;
    overflow: hidden;   
}