@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/*

DEFAULT STLYES

*/

.fa-star {
    color: rgb(246, 173, 85);
}

li {
    list-style: none;
    text-decoration: none;
}

.white {
    color: white;
}

.green {
    color: green;
}

.red {
    color: red;
}

.section__container--first {
    font-weight: 700;
    margin-top: 105px;
    letter-spacing: 1px;
}

.section__container--heading {
    font-size: 48px;
    margin: 20px 0;
}

p {
    color: #7c8ba1;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.purple {
    color: #6415ff;
}

h1 {
    color: #243E63;
    font-weight: 900;
}

.row {
    width: 100vw;
    max-width: 1300px;
    margin: 0 auto;
}

.btn {
    background-color: #6416ff;
    border-radius: 24px;
    overflow: hidden;
    color: white;
    padding: 12px 32px;
    font-size: 14px;
    border: none;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/*

NAV

*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__links {
    list-style-type: none;
}

.nav__link {
    margin: 0 24px;
    font-weight: 500;
    color: #243E63;
    font-weight: 500;
}

.nav__contact {
    margin-right: 48px;
}

.nav__login {
    margin-right: 16px;
}


/*

LANDING PAGE

*/

.landing__container {
    padding: 96px 0;
    display: flex;
}

.landing__container--h1 {
    color: #1A202C;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: left;
    margin-top: 40px;
}

.landing__container-para {
    color: #243E63;
    font-size: 18px;
    margin: 32px 0;
    text-align: left;
    line-height: 1.5;
    font-weight: 100;
}

.landing__container--email {
    padding: 20px 0;
    font-size: 16px;
}

.landing__container--text {
    width: 40%;
}

.landing__container--illustration {
    width: 60%;
    max-width: 60%;
    margin-left: 10px;
}

.landing__container--illustration-img {
    width: 95%;
}

.landing__container--input {
    position: relative;
}

.landing__container--btn {
    position: absolute;
    top: 12px;
    right: 70px;
}

.landing__container--email {
    padding-right: 210px;
    padding-left: 20px;
    border-radius: 40px;
    overflow: hidden;   
    border: solid grey
}

.landing__container--trust {
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    margin-top: 80px;
}

.landing__container--costumers {
    padding-top: 16px;
}

.landing__container--costumers-img {
    width: 80%;
    opacity: 50%;
}


/*

FEATURES

*/

.features__container {
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.features__container--para {
    width: 100%;
    max-width: 45%;
    margin-bottom: 64px;
    font-size: 18px;
}



.features__container--service-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.features__container--service {
    display: flex;
    justify-content: center;
    width: 33%;
}

.features__container--service-figure {
    margin-right: 24px;
    margin-top: 14px;
}

.features__container--service-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.features__container--service-h2 {
    text-align: left;
    margin-bottom: 24px;
    color: #243E63;
}

.features__container--service--para {
    text-align:left;
    margin-bottom: 64px;
}


/*

QUALITY

*/


.quality__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.quality__container--text {
    width: 50%;
    padding: 40px;
}

.quality__container--para {
    margin-bottom: 32px;
    font-size: 18px;
}

.quality__container--figure {
    width: 50%;
    padding: 30px   ;
}

.quality__container--img {
    width: 100%;
    margin-top:60px;
}


/*

STEPS

*/

.steps__container--figure {
    width: 60%;
}

.steps__container--img {
    width: 100%;
    margin-top: 170px;
    
}

.steps__container--text {
    width: 50%;
    margin-left: 50px   ;
}

.steps__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}



.step__container {
    display: flex;
    
}

.step__container--img {
    color: #cecbcb;
    font-size: 36px;
    padding-right: 24px;
}

.step__container--h2 {
    font-size: 20px;
    color: #243e63;
    font-weight: 600;
    margin-bottom: 12px;
}

.step__container--para {
    text-align: left;
    width: 90%;
    margin-bottom: 24px;
}


/*

VALUES

*/


.values__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}

.values__container--text {
    width: 50%;
    padding-right: 100px;
}

.values__container--figure {
    width: 50%;
}

.values__container--img {
    width: 100%;
    margin-top: 130px;
}

.values__container--icons {
    display: flex;
}

.values__container--icons-figure {
    display: flex;
}

.values__container--icons-para {
    margin: 16px 0px 42px 0px;
}

.values__container--icons-h2 {
    margin-left: 16px;
}

.fa-suitcase {
    margin-top: 7px;
}

.fa-dollar-sign {
    margin-top: 7px;
}


/*

PRICING

*/

.pricing_container {
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pricing__container--para {
    width: 600px;
}

.pricing__container--plans-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.pricing__container--plans {
    width: 32%;
    max-width: 30%;
    border-radius: 10px;
    padding: 0 24px;
    margin-right: 40px;
    background-color: rgb(250, 239, 239);
}

.pricing__container--person {
    margin-top: 40px;
}

.pricing__container--plans-business {
    background-color: rgb(100, 21, 255);
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
}

.pricing__container--person {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.pricing__container--plans-price {
    font-size: 40px;
    margin-bottom: 16px;
}

.pricing__container--plans-period {
   color:#a0aec0 ; 
   margin-bottom: 60px;
   font-size: 16px;
   letter-spacing: 1px;
   font-weight: 700;
}

.pricing__container--plans-period-business {
    color: white;
    letter-spacing: 2px;
}

.pricing__container--subscription-listing {
    margin-bottom: 16px;
}

.pricing__container--subscription-listing:last-child {
    margin-bottom: 60px;
}

.btn__personal {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.btn__business {
    background-color: white;
    color: purple;
    font-weight: bold;
}

.btn__enterprise {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    margin-bottom: 32px;
}


/*

TESTIONONIAL

*/


.testimonial__container {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial__container-figure {
    width: 50%;
}

.testimonial__container-img {
    width: 100%;
}

.testimonial__container--text {
    width: 50%;
    padding-left: 64px;
}

.testimonial__container--text-h2 {
    margin: 16px 0;
    color: #243E63;
    font-size: 20px;
}

.testimonial__container--text-para {
    margin-bottom: 40px;
}

.testimonial__container--text-witness{
    display: flex;
}

.testimonial__container--text-figure {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 28px;
}

.testimonial__container--text-img {
    width: 80px;
}


.testimonial__witness--text-wrapper {
    margin-left: 24px;
    margin-top: 16px;
}

.testimonial__container--text-name {
    font-size: 20px;
    color: #243E63;
}

.testimonial__containe--text-proffession {
    font-size: 16px;
    color: #7c8ba1;
}


.testimonial__witness--figure-wrapper {
    display: flex;

}

.testimonial__witness {
    display: flex;
    justify-content: space-between;
}


.testimonial__btn {
    margin-left: 200px;
    display: flex;
    align-items: center;
    color: #6415ff;
}



.testimonial__btn--right {
    margin-left: 48px;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(250, 250, 250, 0.5);
    cursor: not-allowed;
}

.testimonial__btn--left {
    margin-left: 48px;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(250, 250, 250, 0.5);
    cursor: not-allowed;
}


/*

TESTIONONIAL

*/


.footer__container {
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#6415ff ;
}

.footer__container--list {
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
}

.footer__container--list-li {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer__container--list-h2 {
    margin-bottom: 32px;
    font-size: 16px;
}

.footer__container--list-a {
    color: white;
    margin-bottom: 16px;

}

.footer__container--list-a:last-child {
    margin-bottom: 160px;
}


.footer__container--second {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}

.footer__container--second-figure {
    width: 20%;
    display: flex;
}

.footer__container--second-img {
    width:13%;
}

.footer__container--second-h1 {
    color: white;
    font-size: 20px;
    margin-left: 12px;
    margin-top: 4px;
    letter-spacing: 1px;
}

.footer__container--second-para {
    color: #cbd5e0;
}

.footer__container--second-logos {
    display: flex;
}

.footer__container--second-logo--figure {
    margin-right: 12px;
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.footer__container--second-logo {
    margin-left: 10px;
    margin-top: 10px;
}

.fa-facebook-f {
    margin-left: 12px;
}


/*

MEDIA

*/


/*Large screens */
@media (max-width: 5000px) {

}


/* Laptop */
@media (max-width: 1400px) {
    .row {
        width: 100vw;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 60px;
    }

    .landing__container--btn {
        position: absolute;
        top: 12px;
        right: 20px;
    }

    .pricing__container--plans-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .pricing__container--plans {
        border-radius: 10px;
        width: 100%;
        padding: 0 24px;
        margin-right: 40px;
        background-color: rgb(250, 239, 239);
        margin-top: 60px;
    }


    .testimonial__container--text-witness{
        display: flex;
    }

    .testimonial__container--text-figure {
        width: 100px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 28px;
    }
    
    .testimonial__container--text-img {
        width: 80px;
    }

    .testimonial__container--text-name {
        font-size: 20px;
        color: #243E63;
    }
    
    .testimonial__containe--text-proffession {
        font-size: 16px;
        color: #7c8ba1;
    }

    .btn__business {
        background-color: white;
        color: purple;
        font-weight: bold;
        margin-bottom: 32px;
    }

    .btn__personal {
        margin-bottom: 32px;
    }

    .section__container--first-pricing {
        margin-right: 36px;
    }
}



@media (max-width: 1270px) {
    .testimonial__container--text-figure {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 28px;
    }
    
    .testimonial__container--text-img {
        width: 80px;
    }

    .testimonial__witness {
        position: absolute;
    }

    .testimonial__btn {
        margin-left: 300px;
    }

  
    .values__container--icons-wrapper-suitcase {
        margin-left: 20px;
    }
}


/* TESTIMONIAL__BTN MEDIA */

@media (max-width: 1239px) {
    .testimonial__btn {
        margin-left: 250px;
    }
}

@media (max-width: 1139px) {
    .testimonial__btn {
        margin-left: 220px;
    }
}

@media (max-width: 1090px) {
    .testimonial__btn {
        margin-left: 180px;
    }
}

@media (max-width: 1090px) {
    .testimonial__btn {
        margin-left: 180px;
    }
}

@media (max-width: 1000px) {
    .testimonial__btn {
        margin-left: 140px;
    }
}



    
/* LANDING__CONTAINER__BTN EMDIA */

@media (max-width: 1250px) {
    .landing__container--btn {
        position: absolute;
        top: 12px;
        right: 0px;
    }
}

@media (max-width: 1180px) {
    .landing__container--btn {
        position: absolute;
        top: 12px;
        right: -20px;
    }
}

@media (max-width: 1140px) {
    .landing__container--btn {
        position: absolute;
        top: 12px;
        right: -40px;
    }
}

@media (max-width: 1040px) {
    .landing__container--btn {
        position: absolute;
        top: 12px;
        right: -80px;
    }
}

@media (max-width: 950px) {
    .landing__container--btn {
        position: absolute;
        top: 12px;
        right: -120px;
    }
}



/*small phnes, tablets, large phones */

@media (max-width: 768px) {

    .section__container--first {
        font-size: 14px;
    }

    .section__container--first-steps {
        text-align: center;
    }

    .landing__container--h1 {
        font-size: 40px;
    }
    
    .section__container--heading {
        font-size: 34px;
    }

    
    .section__container--heading-steps {
        text-align: center;
    }

    .landing__container--btn {
        position: absolute;
        top: 12px;
        right: -190px;
    }

    .nav__button {
        display: none;
    }

    .features__container--service-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-right: 36px;
        text-align: center;
    }

    .features__container--service-text {
        width: 150px;
        text-align: center;
    }

    .quality__container--text {
        text-align: center;
    }

    .quality__first {
        font-size: 14px;
    }

    .quality__container--heading {
        font-size: 36px;
    }

    .quality__container--para {
        font-size: 14px;
    }

    .quality__container--figure {
        width: 100%;
        padding: 30px   ;
    }

    .quality__container--img {
        width: 140%;
        margin-top:60px;
    }

    .values__container--icons-wrapper-suitcase {
        width: 70%;
    }

    .values__container--icons-h2 {
        font-size: 20px;
    }

    .testimonial__container--text-witness {
        display: flex;
        flex-direction: column;
    }

    .testimonial__witness {
      margin-left: 35px;
    }

    .testimonial__btn {
        margin-left: 0;
        margin-top: 80px;
        align-self: center;
        margin-right: 55px;
    }

    .testimonial__container--text-figure {
        align-self: center;
    }
   
    .pricing__container--plans {
        border-radius: 10px;
        width: 100%;
        max-width: 50%;
        padding: 0 24px; 
        margin-right: 40px;
        background-color: rgb(250, 239, 239);
        margin-top: 60px;
    }
}