@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


/*

DEFAULT STLYES

*/

.green {
    color: green;
}

.red {
    color: red;
}

.section__container--first {
    font-weight: 700;
    margin-top: 105px;
    letter-spacing: 1px;
}

.section__container--heading {
    font-size: 48px;
    margin: 20px 0;
}

p {
    color: #7c8ba1;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

.purple {
    color: #6415ff;
}

h1 {
    color: #243E63;
    font-weight: 900;
}

.row {
    width: 100vw;
    max-width: 1300px;
    margin: 0 auto;
}

.btn {
    background-color: #6416ff;
    border-radius: 24px;
    overflow: hidden;
    color: white;
    padding: 12px 32px;
    font-size: 14px;
    border: none;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/*

NAV

*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__links {
    list-style-type: none;
}

.nav__link {
    margin: 0 24px;
    font-weight: 500;
    color: #243E63;
    font-weight: 500;
}

.nav__contact {
    margin-right: 48px;
}

.nav__login {
    margin-right: 16px;
}


/*

LANDING PAGE

*/

.landing__container {
    padding: 96px 0;
    display: flex;
}

.landing__container--h1 {
    color: #1A202C;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: left;
    margin-top: 40px;
}

.landing__container-para {
    color: #243E63;
    font-size: 18px;
    margin: 32px 0;
    text-align: left;
    line-height: 1.5;
}

.landing__container--email {
    padding: 20px 0;
    font-size: 16px;
}

.landing__container--text {
    width: 40%;
}

.landing__container--illustration {
    width: 60%;
    max-width: 60%;
    margin-left: 10px;
}

.landing__container--illustration-img {
    width: 95%;
}

.landing__container--input {
    position: relative;
}

.landing__container--btn {
    position: absolute;
    top: 12px;
    right: 70px;
}

.landing__container--email {
    padding-right: 210px;
    padding-left: 20px;
    border-radius: 40px;
    overflow: hidden;   
    border: solid grey
}

.landing__container--trust {
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    margin-top: 80px;
}

.landing__container--costumers {
    padding-top: 16px;
}

.landing__container--costumers-img {
    width: 80%;
    opacity: 50%;
}


/*

FEATURES

*/

.features__container {
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.features__container--para {
    width: 100%;
    max-width: 45%;
    margin-bottom: 64px;
    font-size: 18px;
}



.features__container--service-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.features__container--service {
    display: flex;
    justify-content: center;
    width: 33%;
}

.features__container--service-figure {
    margin-right: 24px;
    margin-top: 14px;
}

.features__container--service-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.features__container--service-h2 {
    text-align: left;
    margin-bottom: 24px;
}

.features__container--service--para {
    text-align:left;
    margin-bottom: 64px;
}


/*

QUALITY

*/


.quality__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.quality__container--text {
    width: 50%;
    padding: 40px;
}

.quality__container--para {
    margin-bottom: 32px;
    font-size: 18px;
}

.quality__container--figure {
    width: 50%;
    padding: 30px   ;
}

.quality__container--img {
    width: 100%;
    margin-top:60px;
}


/*

STEPS

*/

.steps__container--figure {
    width: 60%;
}

.steps__container--img {
    width: 100%;
    margin-top: 170px;
    
}

.steps__container--text {
    width: 50%;
    margin-left: 50px   ;
}

.steps__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}



.step__container {
    display: flex;
    
}

.step__container--img {
    color: #cecbcb;
    font-size: 36px;
    padding-right: 24px;
}

.step__container--h2 {
    font-size: 20px;
    color: #243e63;
    font-weight: 600;
    margin-bottom: 12px;
}

.step__container--para {
    text-align: left;
    width: 90%;
    margin-bottom: 24px;
}


/*

VALUES

*/


.values__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}

.values__container--text {
    width: 50%;
    padding-right: 100px;
}

.values__container--figure {
    width: 50%;
}

.values__container--img {
    width: 100%;
    margin-top: 130px;
}

.values__container--icons {
    display: flex;
}

.values__container--icons-figure {
    display: flex;
}

.values__container--icons-para {
    margin: 16px 0px 42px 0px;
}

.values__container--icons-h2 {
    margin-left: 16px;
}

.fa-suitcase {
    margin-top: 7px;
}

.fa-dollar-sign {
    margin-top: 7px;
}